

@media  screen and (orientation:portrait) {
    .big-box{
       flex-direction:column; 
       align-items: center;
       width: 100%;
       height: 100vh !important;
       padding: 0px !important;
    }
    .f-div-top{
        width: 100% !important;
        max-height: 50%;
    }
    .f-div-dn{
        
        width: 100% !important;
        max-height: 50%;
        
    }
}